<html>
<head>
  <title>MVCX</title>
</head>
<body>
  <h1>Oops! An internal server error occurred. See below for details.</h1>
  <table border="0">
    <tr>
      <td style="font-weight: bold; vertical-align: top; white-space: nowrap">Name:</td><td style="vertical-align: top;"><%=errorName%></td>
    </tr>
    <tr>
      <td style="font-weight: bold; vertical-align: top; white-space: nowrap">Message:</td><td style="vertical-align: top;"><%=errorMessage%></td>
    </tr>
    <tr>
      <td style="font-weight: bold; vertical-align: top; white-space: nowrap">Stack Trace:</td><td style="vertical-align: top;"><%=errorStack%></td>
    </tr>
  </table>
</body>
</html>
