<html>
<head>
    <title><%= title %></title>
    <script type="text/javascript" src="<%= mvcx.assets['/assets/jquery/jquery.js']%>"></script>
    <script type="text/javascript" src="<%= mvcx.assets['/assets/utils']%>"></script>
</head>
<body>
